<div class="menu">
<h3 class="intro" style="text-align: center">Post Office</h3>
<div class="title">MENU</div>
  <ul class="nav">
    <li>
      <p><a routerLink="homepage">Домашняя страница</a></p>
      <p><a routerLink="create-order">Сформировать заказ</a></p>
      <p><a routerLink="order-approve">Обработка заказов</a></p>
      <p><a routerLink="drivers">Список водителей</a></p>
      <p><a routerLink="#">Мой профиль</a></p>
      <p><a routerLink="authentication" *ngIf="!auth.isAuthentcated()">Log In</a></p>
      <p><a routerLink="/" *ngIf="auth.isAuthentcated()" (click)="auth.logout()">Log Out</a></p>
    </li>
  </ul>
</div>

<router-outlet></router-outlet>

