h2,
h3 {
  font-family: 'Passion One', Arial, sans-serif;
}
select {
  position: center;
}
select#soflow, select#soflow-color {
  -webkit-appearance: button;
  -webkit-border-radius: 2px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-padding-end: 20px;
  -webkit-padding-start: 2px;
  -webkit-user-select: none;
  background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
  background-position: 97% center;
  background-repeat: no-repeat;
  border: 1px solid #AAA;
  color: #555;
  font-size: inherit;
  margin: 45px;
  overflow: hidden;
  padding: 5px 50px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 500px;
}

.form-style{
  width:650px;
  padding:30px;
  margin:40px auto;
  background: rgba(0, 0, 0, 0);
  border-radius: 10px;
  -webkit-border-radius:10px;
  -moz-border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.13);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.13);
}

.form-style textarea,
.form-style select {
  display: block;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  padding: 8px;
  border-radius: 6px;
  -webkit-border-radius:6px;
  -moz-border-radius:6px;
  border: 2px solid #fff;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.33);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.33);
}
