<div class="form-style-10">
  <h1>Оформите заказ<span>Имейте ввиду: ЗАКАЗЫ С ОДИНАКОВЫМИ ГОРОДАМИ ОТПРАВЛЕНИЯ И ПРИБЫТИЯ РАССМАТРИВАТЬСЯ НЕ БУДУТ!</span></h1>
  <form name="form" (ngSubmit)="o.form.valid" #o="ngForm" novalidate method="POST">
    <div class="section"><span>1</span>Данные о товаре</div>
    <div class="form-group" [ngClass]="{'has error': o.submitted && !product_name.valid && !count.valid && !weight.valid && !storage_conditions.valid && !shipping_city.valid && shipping_address.valid && delivery_city.valid && delivery_address.valid}">
      <label>Название товара<input type="text" class="form-control" name="product_name" [(ngModel)]="model1.product_name" #product_name="ngModel" autocomplete="off" required /></label>
      <div class="required" *ngIf="o.submitted && !product_name.valid">Order name is required</div>
      <label>Количество<input type="number" class="form-control" name="count" [(ngModel)]="model1.count" #count="ngModel" autocomplete="off" required /></label>
      <div class="required" *ngIf="o.submitted && !count.valid">Order count is required</div>
      <label>Масса товара(общаяя)<input type="number" class="form-control" name="weight" [(ngModel)]="model1.weight" #weight="ngModel" autocomplete="off" required /></label>
      <div class="required" *ngIf="o.submitted && !weight.valid">Order weight is required</div>
      <label>Условия хранения
        <select type="text" class="form-control" name="storage_conditions" [(ngModel)]="model1.storage_conditions" #storage_conditions="ngModel" required>
          <option [ngValue]="undefined" disabled selected>Условия храниения</option>
          <option value="Store at low temperature">Хранить при низкой температуре</option>
          <option value="Store at high temperature">Хранить при высокой температуре</option>
          <option value="Store at a moderate temperature">Хранить при умеренной температуре</option>
          <option value="Store in wet conditions">Хранить во влажных условиях</option>
          <option value="Store in dry conditions">Хранить в сухих условиях</option>
          <option value="Store in vacuum">Хранить в вакууме</option>
        </select>
      </label>
      <div class="required" *ngIf="o.submitted && !storage_conditions.valid">Storage conditions is required</div>
    </div>
    <div class="section"><span>2</span>Адрес/Город отправления</div>
    <div class="form-group" [ngClass]="{'has error': o.submitted && !shipping_city.valid && !shipping_address.valid}">
      <label>Город отправления
        <select  [(ngModel)]="City1" [(ngModel)]="model1.shipping_city" name="shipping_city" #shipping_city="ngModel" (change)="myFunction()" required>
          <option [ngValue]="undefined" disabled selected>Выбор города</option>
          <option *ngFor="let city1 of cities1" [ngValue]=city1>{{city1.city_name}}</option>
        </select>
      </label>
      <div class="required" *ngIf="o.submitted && !shipping_city.valid">Shipping city is required</div>
    </div>
    <div class="form-group" [ngClass]="{'has error': o.submitted && !shipping_address.valid}">
      <label>Адрес отправления
      <select id="soflow1" [(ngModel)]="Office1" [(ngModel)]="model1.shipping_address" name="shipping_address" #shipping_address="ngModel" required>
        <option [ngValue]="undefined" disabled selected>Выбор отделения</option>
        <option *ngFor="let office1 of offices1" [ngValue]=office1>{{ office1.address }}</option>
      </select>
      </label>
      <div class="required" *ngIf="o.submitted && !shipping_address.valid">Shipping address is required</div>
    </div>
    <div class="section"><span>3</span>Адрес/Город прибытия</div>
    <div class="form-group" [ngClass]="{'has error': o.submitted && !delivery_city.valid}">
      <label>Город доставки
      <select id="soflow2" [(ngModel)]="City2" [(ngModel)]="model1.delivery_city" name="delivery_city" #delivery_city="ngModel" (change)="myFunction1()" required>
        <option [ngValue]="undefined" disabled selected>Выбор города</option>
        <option *ngFor="let city2 of cities2" [ngValue]=city2>{{city2.city_name}}</option>
      </select>
      </label>
      <div class="required" *ngIf="o.submitted && !delivery_city.valid">Delivery city is required</div>
    </div>
    <div class="form-group" [ngClass]="{'has error': o.submitted && !delivery_address.valid}">
      <label>Адрес доставки
      <select id="soflow3" [(ngModel)]="Office2" [(ngModel)]="model1.delivery_address" name="delivery_address" #delivery_address="ngModel" required>
        <option [ngValue]="undefined" disabled selected>Выбор отделения</option>
        <option *ngFor="let office2 of offices2" [ngValue]=office2>{{office2.address}}</option>
      </select>
      </label>
      <div class="required" *ngIf="o.submitted && !delivery_address.valid">Delivery address is required</div>
    </div>
    <div class="section"><span>4</span>Укажите получателя</div>
    <div *ngIf="condition" class="form-group" [ngClass]="{'has error': o.submitted && !recipient.valid}">
      <label>Получатель
      <select id="soflow4" [(ngModel)]="model1.recipient" name="recipient" #recipient="ngModel" required>
        <option [ngValue]="undefined" disabled selected>Укажите получателя</option>
        <option *ngFor="let client of clients" [ngValue]="client">{{client.client_first_name}} {{client.client_last_name}}</option>
      </select>
      </label>
      <div class="required" *ngIf="o.submitted && !recipient.valid">Recipient city is required</div>
    </div>
    <div *ngIf="!condition" class="form-group" [ngClass]="{'has error': !client_first_name.valid && !client_last_name.valid && !client_phone_number.valid}">
      <label>Имя получателя
        <input type="text" class="form-control" name="count" [(ngModel)]="model8.client_first_name" #client_first_name="ngModel" autocomplete="off" required />
        <div class="required" *ngIf="o.submitted && !client_first_name.valid">Recipient name is required</div>
      </label>
      <label>Фамилия получателя
        <input type="text" class="form-control" name="count" [(ngModel)]="model8.client_last_name" #client_last_name="ngModel" autocomplete="off" required />
        <div class="required" *ngIf="o.submitted && !client_last_name.valid">Recipient surname is required</div>
      </label>
      <label>Телефон получателя
        <input type="number" class="form-control" name="count" [(ngModel)]="model8.client_phone_number" #client_phone_number="ngModel" autocomplete="off" required />
        <div class="required" *ngIf="o.submitted && !client_phone_number.valid">Recipient phone number is required</div>
      </label>
    </div>
    <label class="checkbox">
      <input type="checkbox" (click)="toggle()" />
      <div class="checkbox__text"></div>
    </label>
    <h4 class="linear-wipe" *ngIf="!condition">Получатель не зарегистрирован</h4>
    <h4 class="linear-wipe" *ngIf="condition">Получатель зарегистрирован</h4>
    <div *ngIf="condition" class="form-group">
      <button [disabled]="loading" (click)="create_statement()" class="btn btn-primary">Сформировать заказ</button>
      <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
    </div>
    <div *ngIf="!condition" class="form-group">
      <button [disabled]="loading" (click)="create_statement1()" class="btn btn-primary">Сформировать заказ!</button>
      <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
    </div>
  </form>
</div>
