<div class="form-style-10">
  <h1>Регистрация модератора</h1>
  <form name="form" (ngSumbit)="m.form.valid" #m="ngForm" novalidate method="POST">
    <div class="section"><span>1</span>Имя и фамилия</div>
    <div class="form-group" [ngClass]="{'has error': m.submitted && !first_name.valid && !last_name.valid}">
      <label>Имя<input type="text" class="form-control" name="first_name" [(ngModel)]="model2.first_name" #first_name="ngModel" required /></label>
      <div class="required" *ngIf="m.submitted && !first_name.valid">First name is required</div>
      <label>Фамилия<input type="text" class="form-control" name="last_name" [(ngModel)]="model2.last_name" #last_name="ngModel" required /></label>
      <div class="required" *ngIf="m.submitted && !last_name.valid">Last name is required</div>
    </div>
    <div class="section"><span>2</span>Никнейм</div>
    <div class="form-group" [ngClass]="{'has error': m.submitted && !username.valid}">
      <label>Никнейм<input type="text" class="form-control" name="username" [(ngModel)]="model2.username" #username="ngModel" required /></label>
      <div class="required" *ngIf="m.submitted && !username.valid">Username is required</div>
    </div>
    <div class="section"><span>3</span>Эл. почта и пароль</div>
    <div class="form-group" [ngClass]="{'has error': m.submitted && !e_mail.valid && !password.valid}">
      <label>Эл. почта<input type="email" class="form-control" name="e_mail" [(ngModel)]="model2.e_mail" #e_mail="ngModel" required /></label>
      <div class="required" *ngIf="m.submitted && !e_mail.valid">E-mail is required</div>
      <label>Пароль<input type="password" class="form-control" name="password" [(ngModel)]="model2.password" #password="ngModel" required /></label>
      <div class="required" *ngIf="m.submitted && !password.valid">Password is required</div>
    </div>
    <div class="section"><span>4</span>Дополнительная информация</div>
    <div class="form-group" [ngClass]="{'has error': m.submitted && !phone_number.valid && !gender.valid && !age.valid}">
      <label>Номер телефона(+380)<input type="number" class="form-control" name="phone_number" [(ngModel)]="model2.phone_number" #phone_number="ngModel" required /></label>
      <div class="required" *ngIf="m.submitted && !phone_number.valid"></div>
      <label>Пол
        <select id="gender" type="text" class="form-control" name="gender" [(ngModel)]="model2.gender" #gender="ngModel" required>
          <option [ngValue]="undefined" disabled selected>Select moder's gender</option>
          <option>Male</option>
          <option>Female</option>
        </select>
      </label>
      <div class="required" *ngIf="m.submitted && !gender.valid">Gender is required</div>
      <label>Возраст<input type="number" class="form-control" name="age" [(ngModel)]="model2.age" #age="ngModel" required /></label>
      <div class="required" *ngIf="m.submitted && !age.valid">Age is valid</div>
    </div>
    <div class="form-group">
      <button [disabled]="loading" (click)="moderCreate()" class="btn btn-primary">Зарегистрировать модератора</button>
      <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
    </div>
  </form>
</div>
